
  .topnav {
    overflow: hidden;
    background-color: #0F85DE;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0F85DE;
    color: white;
    margin-top: 0px;
  }

  .topnav a.el {
    margin-top: 7px;
    float: right;
    text-align: center;
    padding: 10px 13px;
  }

  .topnav a:hover.cs {
    background-color: #DA0037;
    color: black;
  }


  .topnav a.cs {
    margin-top: 7px;
    padding: 10px 13px;
    float: right;
    text-align: center;
  }